# Node dependencies
node_modules/

# Frontend build output
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
*.env

# Mac files
.DS_Store

# Docker
*.log

*package.json
*package-lock.json